{% extends 'base.html' %}
{% block content %}
<section class="site-section bg-light" id="contact-section" data-aos="fade">
    <div class="container">
        <div class="alert alert-success" role="alert">
            {% if nom %}
            <h4 class="alert-heading">Succès !</h4>
            <p>Bonjour {{nom}}</p> <br>
            <p>Votre demande a été soumise avec succès. <br>
                Nous vous répondrons tres prochainement à l'adresse suivante : {{email}}.</p>
            <hr>
            <p class="mb-0">Merci pour votre fidelité.</p>
            {% else %}
            <p>Envoyez nous un message <a href="{% url 'contact' %}">ici</a></p>
            {% endif %}
        </div>
    </div>
</section>
{% endblock content %}
