{% extends 'base.html' %}
{% load static %}


{% block content %}


<section id="services" class="scrollspy-section padding-large">
    <div class="container">
        <div class="row">
            <div class="section-header col-12">
                <div class="title">
                    
                </div>
                <h2 class="section-title">Nos Services</h2>
            </div>
        </div>

        <div class="row">

            <div class="col-md-4">
                <div class="services-item">
                    <span class="number">01</span>
                    <h3>Études Techniques</h3>
                    <p>Nous réalisons des études techniques approfondies pour assurer la faisabilité et la viabilité de vos projets de construction et d’infrastructures.</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="services-item">
                    <span class="number">02</span>
                    <h3>Suivi et Contrôle des Travaux</h3>
                    <p>Notre équipe assure le suivi et le contrôle rigoureux des chantiers afin de garantir la conformité aux normes et aux exigences de qualité.</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="services-item">
                    <span class="number">03</span>
                    <h3>Assistance à la Maîtrise d'Ouvrage</h3>
                    <p>Nous accompagnons les maîtres d’ouvrage dans la gestion et la coordination de leurs projets pour une meilleure optimisation des ressources.</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="services-item">
                    <span class="number">04</span>
                    <h3>Génie Civil et BTP</h3>
                    <p>Nos experts interviennent dans la conception et la réalisation d’ouvrages de génie civil, avec un savoir-faire éprouvé en bâtiment et travaux publics.</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="services-item">
                    <span class="number">05</span>
                    <h3>Topographie et Géomatique</h3>
                    <p>Nous réalisons des levés topographiques précis et exploitons les outils géomatiques pour une meilleure planification des projets.</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="services-item">
                    <span class="number">06</span>
                    <h3>Études d'Impact Environnemental</h3>
                    <p>Nous évaluons l'impact environnemental de vos projets et proposons des solutions adaptées pour un développement durable.</p>
                </div>
            </div>

        </div>

    </div>
</section>
{% endblock content %}